# Set in stage2:
# ---------------------------------------------------------
# set -ef +am
# isFirstRun
# VAR_*
# All functions in /start/functions

if [ "$isFirstRun" == "true" ]
then
	chown -r $VAR_LINUX_USER /var/lib/nginx
	sync
	if [ ! -s "$VAR_CONFIG_DIR/http.d/default.conf" ]
	then
		createHttpdDefault
	fi
fi
