# Set in stage2:
# ---------------------------------------------------------
# set -ef +am
# isFirstRun
# VAR_*
# All functions in /start/functions

if [ "$isFirstRun" == "true" ]
then
	mkdir -p -m 777 /var/lib/nginx/tmp
	sync
	if [ ! -s "$VAR_CONFIG_DIR/http.d/default.conf" ]
	then
		createHttpdDefault
	fi
fi
